// initial code
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

// ============== Fonts =================
// font-family: 'Alegreya', serif;
// font-family: 'Hind Siliguri', sans-serif;
// font-family: 'Montserrat', sans-serif;

// RESPONSIVE BREAKPOINTS
$bp-medium: 46.875em; // 750px
$bp-small: 37.5em; // 600px
$bp-smallest: 31.25em; // 500px

// html
html {
  box-sizing: border-box;
  font-size: 62.5%; // 10px / 16px = 62.5% -> 1 rem = 10 px
  font-family: "Hind Siliguri", sans-serif;
}

body {
  color: #feffde;
  background-color: black;
}

hr {
  margin-bottom: 2rem;
}

// video

.video {
  position: fixed;
  left: 50%;
  top: 50%;
  height: 100%;
  transform: translate(-50%, -50%);
  object-fit: cover;
  width: 100%;
  z-index: -1;

  opacity: 30%;
  animation: in 3s;
}

@keyframes in {
  from {
    opacity: 0;
  }

  to {
    opacity: 0.3;
  }
}

// title
.title {
  margin-top: 5rem;
  margin-left: 2.5rem;
  margin-right: 2.5rem;
  font-family: "Montserrat", sans-serif;
  font-size: 10rem;
  text-align: center;

  margin-bottom: 5rem;

  &_w-letter {
    color: #91c788;
  }

  @media only screen and (max-width: $bp-small) {
    font-size: 8rem;
  }

  @media only screen and (max-width: $bp-smallest) {
    font-size: 5rem;
  }
}

// Weather
.weather {
  margin-top: 10rem;
  display: flex;
  justify-content: center;

  &_button {
    background-color: #ddffbc;
    color: #425e3e;
    border: none;
    font-family: "Hind Siliguri", sans-serif;
    font-size: 2rem;
    padding: 0.5rem 1.25rem;
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.2s;
    border-radius: 100px;

    &:hover {
      background-color: #d1f0b3;
      transform: translateY(-0.3rem);
      box-shadow: 0 1rem 2rem rgba(rgb(0, 0, 0), 0.5);
    }

    &:active {
      background-color: #c4e0a7;
      transform: translateY(-0.1rem);
      box-shadow: 0 0.5rem 1rem rgba(rgb(0, 0, 0), 0.5);
    }

    @media only screen and (max-width: $bp-medium) {
      justify-self: center;
    }

    @media only screen and (max-width: $bp-small) {
      font-size: 1.5rem;
    }

    @media only screen and (max-width: $bp-smallest) {
      width: 40vw;
      line-height: 2rem;
    }
  }

  &_search {
    background-color: #52734d;
    color: #feffde;
    font-family: "Alegreya", serif;
    font-size: 3rem;
    width: 45rem;
    padding: 0.5rem 3rem;
    border: none;
    border-radius: 100px;
    margin: 0 1rem 0 1rem;

    transition: all 0.5s;

    &::placeholder {
      color: #feffde;
    }

    &:focus {
      outline: none;
      background-color: #425e3e;
      width: 50rem;
    }

    @media only screen and (max-width: $bp-small) {
      width: 80vw;
      padding: 0.25rem 3rem;
      font-size: 2.5rem;

      &:focus {
        width: 90vw;
      }
    }
  }

  &_description {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100vw;

    font-family: "Hind Siliguri", sans-serif;
    font-size: 2.5rem;
    margin-top: 15rem;

    @media only screen and (max-width: $bp-small) {
      font-size: 2rem;
    }
  }

  @media only screen and (max-width: $bp-medium) {
    display: grid;
    gap: 3rem;
  }
}
